* {
    margin: 0;
    padding: 0;
    font-family: Figtree, 'Inter', sans-serif;
    box-sizing: border-box;
    font-style: normal;
    cursor: url("images/amplihire-logo-cursor.svg"), auto;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #000;
    transition: background-color 1s ease;
}

html {
    background-color: #F5F7FF;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #F5F7FF;
    z-index: 10000;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.36vw 5.625vw 1.36vw 5.625vw;
}

.header-logo-wrapper {
    width: 12.5vw;
    height: 2.2vw;
    align-self: center;
}

.header-logo {
    width: 100%;
    height: auto;
}

.header-navigation {
    display: flex;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: Figtree, sans-serif;
    font-weight: 600;
    font-size: 1.39vw;
    line-height: 1.25;
    border: 1px solid #F5F7FF;
    padding: 0.83vw 1.66vw 0.83vw 1.66vw;
    border-radius: 2.78vw;

}

.nav-item:not(:last-child) {
    margin-right: 1.39vw;
}

.nav-item:hover {
    border: 1px solid #3D3D4F;
}

#login-button {
    background-color: #5D32DC;
    color: white;
}

#login-button:hover {
    background-color: #643bdd;
}

.login-button svg {
    margin-right: 0.42vw;
    width: 1.8vw;
}

.hero-section{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background: #F5F7FF;
    padding: 8.4vw 0;
}

.hero-headline-container{
    height: auto;
    width: 50%;
    align-items: center;
    z-index: 2;
    padding: 0 1.5vw 0 7vw;
    display: flex;
}

.hero-header {
    display: flex;
    border-radius: 6.9vw;
    border: 1px solid #C1C1C1;
    width: fit-content;
    padding: 0.83vw 1.66vw 0.83vw 1.66vw;
    justify-content: center;
    align-items: center;
}

.hero-header-icon {
    width: 1.52vw;
    height: 1.52vw;
    margin-right: 0.73vw;
}

.hero-header h2{
    font-weight: 600;
    font-size: 1.1vw;
    line-height: 1;
    letter-spacing: 0;
    color: #3D3D4F;
}

.hero-title {
    background: linear-gradient(90deg, #5631DE 0%, #C748B8 49.5%, #ED7982 99%);
    -webkit-background-clip: text;
    background-clip: text;
}

.hero-title h1{
    font-family: Figtree, sans-serif;
    font-weight: 700;
    font-size: 3.9vw;
    line-height: 110%;
    color: #3D3D4F;
    margin-top: 1.38vw;
}

.hero-title span {
    font-family: Figtree, sans-serif;
    font-weight: 700;
    font-size: 3.9vw;
    line-height: 110%;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.hero-seller p{
    font-family: Figtree, sans-serif;
    font-weight: 400;
    font-size: 1.38vw;
    line-height: 145%;
    letter-spacing: 0;
    color: #3D3D4F;
    margin-top: 1.38vw;
}

.hero-book-a-demo{
    margin-top: 2vw;
}

.hero-image-container{
    height: auto;
    width: 50%;
    z-index: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 6.5vw 0 1.5vw;
}

.hero-image-wrapper{
    position: relative;
    width: 42.5vw;
    height: 42.5vw;
    max-width: 75vh;
    max-height: 75vh;
}

.hero-image{
    position: absolute;
    width: 100%;
    height: auto;
}

.contact-link-wrapper{
    width: 100%;
}

.contact-link {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 0.55vw;
    padding: 1.1vw 1.8vw 1.1vw 1.85vw;
    border: 1px solid #F5F7FF;
    border-radius: 5vw;
    color: white;
    background: linear-gradient(90deg, #5631DE 0%, #C748B8 49.5%, #ED7982 99%);
    transition: color 0.4s ease, border 0.5s ease;
    overflow: hidden;
    position: relative;
    z-index: 4;
    text-decoration: none;
}

.contact-link-big{
    border: 2px solid white;
    padding: 2.5vw 3.6vw;
}

.transparent-background {
    background: transparent;
}

.contact-link.contact-link-big span{
    font-size: 1.5vw;
}

.contact-link::before {
    content: '';
    position: absolute;
    transform-origin: center;
    top: -50%;
    width: 0;
    height: 150%;
    left: -10%;
    background: #f3f5fd;
    border-radius: 50%;
    transition: height 0.4s ease-in-out, width 0.4s ease-in-out, top 0.4s ease-in-out;
    z-index: 0;
}

.contact-link span {
    height: 1.94vw;
    line-height: 1;
    align-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
    color: white;
    transition: color 0.3s ease;
    font-size: 1.39vw;
    font-weight: 500;
}

.contact-link svg {
    position: relative;
    height: 1.94vw;
    width: 1.94vw;
    fill: white;
    transition: fill 0.2s ease;
    z-index: 10;
}

.contact-link a{
    text-decoration: none;
}

.contact-link:hover {
    transition: background-color 0.3s ease-in-out 0.1s, border 0.2s ease-in-out 0.1s;
    background-color: transparent;
    border: 1px solid #3D3D4F;
}

.contact-link:hover span {
    color: #3D3D4F;
    background-clip: text;
    -webkit-background-clip: text;
}

.contact-link:hover svg {
    fill: #3D3D4F;
}

.contact-link:hover::before {
    top: -50%;
    width: 130%;
    height: 300%;
}

.item-info .contact-link{
    font-size: 1.5vw;
}

#products-link {
    border: 0;
    background: transparent;
    font-size: 2vw;
    padding: 3vw;
}

#products-link span{
    font-size: 2.5vw;
}

#products-link svg{
    width: 3vw;
    height: 3vw;
}

.screen-section{
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    position: relative;
}

.screen-header{
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 1.38vw;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 6.52vw 2vw 5vw;
}

.screen-header-wrapper{
    position: relative;
    width: fit-content;
}

.screen-header-title {
    font-family: Figtree, sans-serif;
    padding: 5px;
    position: relative;
    color: #000000;
    z-index: 2;
}

.screen-header-title h1{
    font-weight: 700;
    font-size: 3.75vw;
    text-align: center;
    line-height: 111%;
}

.screen-header-title span {
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.screen-header-text{
    font-weight: 400;
    font-size: 1.53vw;
    line-height: 2vw;
    text-align: center;
    vertical-align: center;
    letter-spacing: 0;
    width: 42.76vw;
}

#amplihire-screen-title-background{
    background: linear-gradient(90deg, #5631DE 0%, #C748B8 49.5%, #ED7982 99%);
    -webkit-background-clip: text;
    background-clip: text;
}

.screen-content{
    width: 100%;
    height: 100%;
}

.screen-image-wrapper{
    position: relative;
    width:100%;
    height: 100%;
    padding: 0 5.5vw 8.8vw;
}

.screen-image-wrapper svg{
    width: 100%;
    height: 100%;
}

.screen-image-wrapper img{
    width: 100%;
    height: 100%;
}

.features-section{
    width: 100%;
    padding: 7.4vw 7vw 0;
    overflow-x: hidden;
}

.section-gray{
    background: #F2F4FD;
}

.section-white{
    background: #FFFFFF;
}

.overview-section {
    width: 100%;
    padding: 7.4vw 7vw 7.4vw;
}

.overview-section-header {
    width: max-content;
    background: linear-gradient(90deg, #5631DE 0%, #C748B8 49.5%, #ED7982 99%);
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 6.94vw;
}

.overview-section-header-title {
    font-size: 3.75vw;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 0.76vw;
}

.overview-section-header-text {
    width: 60%;
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 1.45;
}

.overview-section-header-title span{
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.overview-section-content {
    display: flex;
    gap: 1.875vw;
}

.overview-section-content > * {
    flex: 1;
}

.overview-section-item {
    padding: 2.78vw 2.08vw;
    background: #FFFFFF;
    border-radius: 1.11vw;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.overview-section-item-header {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: #5D32DC;
}

.overview-section-item-header-number {
    font-weight: 600;
    justify-self: center;
    font-size: 1.52vw;
}

.overview-section-item-header-label {
    font-size: 2.1vw;
    font-weight: 700;
}

.overview-section-item-title {
    text-align: center;
    font-size: 2.1vw;
    font-weight: 600;
}

.overview-section-item-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview-section-item-image-wrapper img{
    align-self: center;
}

.overview-section-item-text {
    font-weight: 400;
    line-height: 1.33;
    font-size: 1.25vw;
}

.overview-section-item-bullets {
    display: flex;
    flex-flow: column;
    gap: 1.2vw
}

.overview-section-item-bullets h1{
    font-weight: 700;
    font-size: 1.25vw;
}

.overview-section-bullet {
    display: flex;
    flex-flow: row;
    gap: 1.15vw;
    font-size: 1.15vw;
}

.overview-section-bullet-svg-wrapper {
    width: 1.53vw;
    height: 1.53vw;
    flex-shrink: 0;
}

.overview-section-bullet-svg-wrapper svg{
    width: 100%;
    height: auto;
}

.feature-section-title{
    font-family: Figtree, sans-serif;
    line-height: 110%;
    padding-bottom: 5vw;
    background: linear-gradient(90deg, #5631DE 0%, #C748B8 49.5%, #ED7982 99%);
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
}

.feature-section-title h1{
    font-weight: 700;
    font-size: 3.47vw;
    line-height: 1.1;
    width: auto;
}

.feature-section-title h1 span{
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.feature{
    display: flex;
    flex-flow: row;
    gap: 7vw;
    padding-bottom: 7vw;
}

.feature-flipped{
    flex-flow: row-reverse;
}

.feature-text-section{
    width: 50%;
    align-content: center;
    animation-name: slideInRight;
    transform: translateX(100px);
}

.feature-image-section{
    width: 64%;
    align-content: center;
    animation-name: slideInLeft;
    transform: translateX(-100px);
}

.feature-image-section,
.feature-text-section {
    opacity: 0;
    animation-duration: 0.8s;
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.feature.in-view .feature-image-section,
.feature.in-view .feature-text-section {
    animation-play-state: running;
}

.feature-flipped .feature-text-section {
    transform: translateX(-100px);
}

.feature-flipped .feature-image-section {
    transform: translateX(100px);
}

@keyframes slideInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.feature-image-background{
    background: #E4E8F6;
    border-radius: 2.8vw;
    width: 44.375vw;
    height: 31.25vw;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 1.38vw;
}

.feature-image{
    width: 100%;
    height: 100%;
}

.feature-header{
    font-family: Figtree, sans-serif;
    margin-bottom: 2vw;
    color: #3d3d4f;
}

.feature-header h2{
    font-weight: 600;
    line-height: 110%;
    font-size: 2.61vw;
}

.amplihire-feature-header{
    background: linear-gradient(90deg, #5631DE 0%, #C748B8 49.5%, #ED7982 99%);
    -webkit-background-clip: text;
    background-clip: text
}

.feature-header span{
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.feature-text{
    font-weight: 400;
    font-size: 1.53vw;
    line-height: 2.3vw;
}

.feature-text strong{
    font-weight: 700;
    font-size: 1.53vw;
    line-height: 2.3vw;
    color: #3d3d4f
}

.benefits-section{
    position: relative;
    width: 100%;
    padding: 10vw 7vw 15vw;
    overflow: hidden;
}

.benefits-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-items: center;
    align-items: center;
    z-index: 0;
}

.benefits-background-logo-container{
    position: relative;
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.benefits-background-logo-wrapper{
    position: absolute;
    justify-items: center;
    align-content: center;
    --x-offset: 0;
    --y-offset: 0;
    --scale: 1;
    transform: translate(var(--x-offset),var(--y-offset)) scale(var(--scale));
    width: 40vw;
    max-width: 70vh;
}

.benefits-background-logo{
    width: 100%;
    height: auto;
}

.benefits-title{
    font-family: Figtree, sans-serif;
    line-height: 110%;
    padding-bottom: 5vw;
    background: linear-gradient(90deg, #5631DE 0%, #C748B8 49.5%, #ED7982 99%);
    -webkit-background-clip: text;
    background-clip: text;
    width: max-content;
}

.benefits-title h1{
    font-weight: 700;
    font-size: 3.47vw;
    line-height: 1.1;
    width: auto;
}

.benefits-title h1 span{
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.benefits-content{
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
}

.benefits-center-logo{
    justify-content: center;
    display: flex;
}

.benefits-center-logo-wrapper{
    position: relative;
    width: 41vw;
    z-index: 2;
}

.benefits-center-logo-wrapper img{
    width: 100%;
}

.benefits-cards-container{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 3;
}

.benefits-card{
    position: absolute;
    display: flex;
    flex-flow: column;
    background: #E6E8F380;
    padding: 1.52vw 1.8vw 1.8vw;
    border-radius: min(1.38vw, 20px);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 110%;
    gap: 0.7vw;
    color: #3D3D4F;
    transform: translate(-50%, -50%);
    width: max-content;
}

.benefits-card strong{
    font-weight: 600;
    line-height: 100%;
    padding-bottom: 0.1vw;
}

.benefits-card h1{
    font-weight: 600;
    font-size: 3.05vw;
    line-height: 100%;
}

.benefits-card-svg-wrapper{
    width: 3vw;
    height: 3vw;
}

.benefits-card-svg-wrapper svg{
    width: 100%;
    height: 100%;
}

#amplihire-benefits-card-1{
    transform: translate(-10vw, 24vw);
}

#amplihire-benefits-card-2{
    transform: translate(18vw, 13vw);
}

#amplihire-benefits-card-3{
    transform: translate(-15vw, -1vw);
}

#amplihire-benefits-card-4{
    transform: translate(13vw, -8vw);
}

.request-demo-section{
    display: flex;
    align-items: center;
    height: auto;
    padding: 11vw 7vw;
    justify-content: space-between;
}

.amplihire-background{
    background: #5D32DC;
}

.request-demo-text-section{
    width: 60%;
    font-family: Figtree, sans-serif;
    font-weight: 400;
    font-size: 1.67vw;
    color: white;
    line-height: 150%;
}

.request-demo-text-wrapper{
    display: flex;
    flex-flow: column;
    gap: 1vw;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(0);
    opacity: 0;
    transition: all 0.4s linear;
    transform-origin: center bottom;
}

.request-demo-text-wrapper.active {
    transform: rotateX(0deg) translateZ(0);
    opacity: 1;
}

.request-demo-text-section h1{
    font-weight: 500;
    font-size: 3.75vw;
    line-height: 110%;
}

.request-demo-text-section p{
    font-weight: 300;
}

.request-demo-button{
    width: 30%;
}

.request-demo-button-section.active .request-demo-contact {
    transform: rotateX(0deg) translateZ(0);
    opacity: 1;
}

.request-demo-contact {
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(0);
    opacity: 0;
    transition: all 0.4s linear;
    transform-origin: center bottom;
}

.request-demo-button-section{
    padding-top: 1px;
    display: flex;
    justify-content: flex-end;
}

#book-a-demo-amplihire:hover svg{
    fill: #5c32da;
}

#book-a-demo-amplihire:hover span{
    color: #5c32da;
}


footer {
    background-color: #000;
    padding: 0 7vw;
    min-height: 60vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


footer .contact-info p.text-hello {
    display: block;
    color: #FFF;
    font-size: 1.52vw;
    font-weight: 500;
    margin-bottom: 20px;
}

footer .contact-info p {
    color: #9B9B9B;
    font-size: 1.112vw;
    font-weight: 500;
    line-height: 142%;

}

.social-icon {
    text-decoration: none;
    margin-top: 2.5vh;
    display: inline-block;
    width: 1.53vw;
    margin-right: 1.3vw;
}

.social-icon svg {
    width: 100%;
    height: 100%;
}
.post-footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6vh;
    z-index: 100;
}

.post-footer a{
    color: #FFF;
    font-size: 1.112vw;
    font-weight: 500;
    text-decoration: none;
    margin-top: auto;
    margin-right: 2.01vw;
}

.post-footer p {
    color: #9B9B9B;
    font-size: 1.112vw;
    font-weight: 500;
}

.tell-us-about-it {
    padding-top: 11vw;
}

.tell-us-about-it h1 {
    color: #FFF;
    font-size: 4.86vw;
    font-weight: 500;
    line-height: 110%;
}

.tell-us-about-it a {
    color: #FFF;
    font-size: 4.86vw;
    font-weight: 300;
    line-height: 110%;
    position: relative;
    text-decoration: none;
}

.tell-us-about-it.active a::after {
    width: 100%;
}

.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-navigation {
    display: flex;
    color: #FFFFFF;
    font-size: 1.1vw;
    font-weight: 600;
}

.footer-navigation div:not(:last-child) {
    margin-right: 1.67vw;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
}

.text-hello span:nth-of-type(even){
    display: none;
}